<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
    </configSections>
    <appSettings>
        <add key="MyQueue" value=".\private$\INPUT_QUEUE_NAME_HERE"/> <!-- E.g. OPC -->
        <add key="MyQueueAddress" value="net.msmq://localhost/private/INPUT_QUEUE_NAME_HERE"/> <!-- E.g. OPC -->
    </appSettings>
    <system.serviceModel>
        <client>
            <endpoint address="net.msmq://localhost/private/SubscribeQueue"
                binding="netMsmqBinding" behaviorConfiguration="SecureEndpointBehavior" bindingConfiguration="SecureBinding"
                contract="OpenBus.Common.Contracts.ISubscriber`1[[OpenBus.Messages.BusMessage, OpenBus.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="Subscriber">
                <identity>
                    <dns value="OpenBus"/>
                </identity>
            </endpoint>
            <endpoint address="net.msmq://localhost/private/PublishQueue"
                binding="netMsmqBinding" behaviorConfiguration="SecureEndpointBehavior" bindingConfiguration="SecureBinding"
                contract="OpenBus.Common.Contracts.IPublisher`1[[OpenBus.Messages.BusMessage, OpenBus.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="Publisher">
                <identity>
                    <dns value="OpenBus"/>
                </identity>
            </endpoint>
        </client>
        <bindings>
            <netMsmqBinding>
                <clear />
                <binding name="SecureBinding" useActiveDirectory="false" maxReceivedMessageSize="2147483647" exactlyOnce="true" durable="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Message">
                        <transport msmqAuthenticationMode="Certificate"
                                   msmqEncryptionAlgorithm="Aes"
                                   msmqProtectionLevel="EncryptAndSign"
                                   msmqSecureHashAlgorithm="Sha512" />
                        <message algorithmSuite="TripleDesSha256Rsa15"
                                 clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <clear />
            <service behaviorConfiguration="SecureServiceBehavior" name="OpenBus.BusWorker.Clients.Client">
                <endpoint address="net.msmq://localhost/private/INPUT_QUEUE_NAME_HERE"
                    binding="netMsmqBinding" bindingConfiguration="SecureBinding"
                    contract="OpenBus.Common.Contracts.ISubscriber`1[[OpenBus.Messages.BusMessage, OpenBus.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/INPUT_QUEUE_NAME_HERE" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <clear/>
                <!-- This is used for services hosted by the client -->
                <behavior name="SecureServiceBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="200" maxConcurrentSessions="200"/>
                    <serviceMetadata httpGetEnabled="True"  />
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceCredentials>
                        <!-- Client certificate --> <!-- E.g. OPC -->
                        <serviceCertificate findValue="INPUT_QUEUE_NAME_HERE" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
                        <clientCertificate>
                            <!--Trust only the bus certificate -->
                            <certificate findValue="OpenBus" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
                            <authentication certificateValidationMode="None"/>
                        </clientCertificate>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <clear/>
                <!-- This is used for services hosted by the bus -->
                <behavior name="SecureEndpointBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <clientCredentials>
                        <!-- Client certificate --> <!-- E.g. OPC -->
                        <clientCertificate findValue="INPUT_QUEUE_NAME_HERE" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
                        <serviceCertificate>
                            <!-- Bus certificate -->
                            <defaultCertificate findValue="OpenBus" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
                            <authentication certificateValidationMode="None"/>
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    </system.serviceModel>

    <!-- SETTINGS FOR IIS ONLY BELOW    
    <system.serviceModel>
        <client>
            <endpoint address="net.msmq://localhost/private/SubscribeQueue"
                binding="netMsmqBinding" behaviorConfiguration="SecureEndpointBehavior" bindingConfiguration="SecureBinding"
                contract="OpenBus.Common.Contracts.ISubscriber`1[[OpenBus.Messages.BusMessage, OpenBus.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="Subscriber">
                <identity>
                    <dns value="OpenBus"/>
                </identity>
            </endpoint>
            <endpoint address="net.msmq://localhost/private/PublishQueue"
                binding="netMsmqBinding" behaviorConfiguration="SecureEndpointBehavior" bindingConfiguration="SecureBinding"
                contract="OpenBus.Common.Contracts.IPublisher`1[[OpenBus.Messages.BusMessage, OpenBus.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="Publisher">
                <identity>
                    <dns value="OpenBus"/>
                </identity>
            </endpoint>
        </client>
        <bindings>
            <netMsmqBinding>
                <clear />
                <binding name="SecureBinding" useActiveDirectory="false" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Message">
                        <transport msmqAuthenticationMode="Certificate"
                                   msmqEncryptionAlgorithm="Aes"
                                   msmqProtectionLevel="EncryptAndSign"
                                   msmqSecureHashAlgorithm="Sha512" />
                        <message algorithmSuite="TripleDesSha256Rsa15"
                                 clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <clear/>
            <service name="OpenBus.Common.Clients.Client" behaviorConfiguration="SecureServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/INPUT_QUEUE_NAME_HERE" />
                    </baseAddresses>
                </host>
                <endpoint address="net.msmq://localhost/private/INPUT_QUEUE_NAME_HERE"
                          binding="netMsmqBinding"
                          bindingConfiguration="SecureBinding"
                          contract="OpenBus.Common.Contracts.ISubscriber`1[[OpenBus.Messages.BusMessage, OpenBus.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]">
                </endpoint>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <clear/>
                -->
                <!-- This is used for services hosted by the client -->
                    <!--
                <behavior name="SecureServiceBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="200" maxConcurrentSessions="200"/>
                    <serviceMetadata httpGetEnabled="False"  />
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceCredentials>
                        -->
                    <!-- Client certificate --><!--
                        <serviceCertificate findValue="INPUT_CLIENT_SERVICE_NAME_HERE" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
                        <clientCertificate>
                            --><!--Trust only the bus certificate --><!--
                            <certificate findValue="OpenBus" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
                            <authentication certificateValidationMode="None"/>
                        </clientCertificate>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <clear/>
                --><!-- This is used for services hosted by the bus -->
                    <!--
                <behavior name="SecureEndpointBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <clientCredentials>
                        -->
                    <!-- Client certificate --><!--
                        <clientCertificate findValue="INPUT_CLIENT_SERVICE_NAME_HERE" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
                        <serviceCertificate>
                            --><!-- Bus certificate --><!--
                            <defaultCertificate findValue="OpenBus" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
                            <authentication certificateValidationMode="None"/>
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>-->


    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="LogFileAppender"/>
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="DatePattern" value="yyyy.MM.dd'.log'" />
            <file value="logs\" />
            <param name="AppendToFile" value="true"/>
            <encoding value="utf-8" />
            <rollingStyle value="Composite"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <staticLogFileName value="false"/>
            <!--  http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html -->
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss} – %m%n"/>
            </layout>
        </appender>
    </log4net>
</configuration>